flows.json
[{"id":"c1f827cb.6e7648","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"c1f827cb.6e7648","name":"","topic":"","payload":"Hello Node-RED!","payloadType":"string","repeat":"","crontab":"","once":false,"x":141,"y":61,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"c1f827cb.6e7648","name":"","active":true,"console":"false","complete":"false","x":510,"y":200,"wires":[]},{"id":"400f0124.0eb2c","type":"ibmiot in","z":"c1f827cb.6e7648","authentication":"apiKey","apiKey":"1f7042f7.dc5afd","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":100,"y":200,"wires":[["7bbf99c.fe1f168","aac44630.f465b8","40c28a7e.16f2a4"]]},{"id":"7bbf99c.fe1f168","type":"function","z":"c1f827cb.6e7648","name":"Current","func":"global.set(\"current\",msg.payload.Current)\nmsg.payload=msg.payload.Current\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":160,"wires":[["f2f2649a.0d0d98"]]},{"id":"aac44630.f465b8","type":"function","z":"c1f827cb.6e7648","name":"Voltage","func":"global.set(\"voltage\",msg.payload.Voltage)\nmsg.payload=msg.payload.Voltage\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":220,"wires":[["f2f2649a.0d0d98"]]},{"id":"40c28a7e.16f2a4","type":"function","z":"c1f827cb.6e7648","name":"Power","func":"global.set(\"power\",msg.payload.Power)\nmsg.payload=msg.payload.Power\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["f2f2649a.0d0d98"]]},{"id":"5f429846.9d1488","type":"http in","z":"c1f827cb.6e7648","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":170,"y":400,"wires":[["5df513be.d3021c"]]},{"id":"b857e413.316eb8","type":"http response","z":"c1f827cb.6e7648","name":"","statusCode":"","headers":{},"x":450,"y":380,"wires":[]},{"id":"5df513be.d3021c","type":"function","z":"c1f827cb.6e7648","name":"data","func":"msg.payload={\"voltage\":global.get(\"voltage\"),\"current\":global.get(\"current\"),\"power\":global.get(\"power\")}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":400,"wires":[["b857e413.316eb8"]]},{"id":"1f7042f7.dc5afd","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]